API_ID=25657194
API_HASH=cee5bdd9803dc1fbac282863204bdfec
BOT_TOKEN=7458731003:AAFjczzTDcERNAR-0W7ufcnDg-aRAqGeF4E
LOG_GROUP_ID=-1002107679944
MONGO_DB_URI=mongodb+srv://surajitsingh4203:surajitsingh4203@cluster0.62ig0.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7900262575
STRING_SESSION=BQGHf2oAnYt9kh-8nqTAem_X-VzIVhyv3qKptsLbTJ2yHU9c9EB0ILZUdefXNpzEA2wI4DPlUoVqyKE-1t6MEgLd9DNpFf2SZMpz3gKfaW1hMIfIjhxNUBhQvTGqRn-A7BBkF98v5SgOP6oJ66AugD-nJ1f5BkbNo0YzE4i2Jkn9L4LE_pWb0DF4IsoHx-G0dSE0ITnWQa36tZZJjpj1ciatX8XCt0TbbvDNPK52nlh4dNmKBDYHpD2mLTFzsvbKxf_Gkg6m3e6urPvjazZs6QnUA4YVA_AqRkewMUXgCRUAmjidLn-0KZHWLm0BsVmkljiZ3EVtmhyGVThwZt4weXelutOIfgAAAAGikBi9AA
